@import url('http://fonts.cdnfonts.com/css/brush');

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    background-color: white;
}

.navbar
{
    margin: 4px 16px;
    height: 80px;
    border-radius: 1px 1px 0 0 ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #893dc2;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}

.logo
{
    width: 100px;
    margin-left: 100px;
    
}

.logotext{
    font-family: 'brush',sans-serif;
    font-size: 70px;
}

.navlinks
{
    display: flex;
    align-items: center;
    gap: 25px;
    
}

.nav-element{
    color: white;
    font-size: 30px;
    margin-left: 70px;
    text-decoration: none;

}

.nav-element:hover
 {
    color: rgb(227, 134, 250);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    
}

.dropdown:hover .dropdown-content {

        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        background-color: white;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        
}

.list{
    text-decoration: none;
    color: black;
}

.list:hover{
    color: rgb(227, 134, 250);
    font-size: 22px;
    transition: 0.3s;
}
.list:not(hover) {
    transition: 0.6s;
}


.TeamSocialMedia {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 25px;
}

.home{
    height: 100vh;
    min-height: 600px;
    background-image: url('home2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hometext{
    margin-left: 450px;
    font-size: 70px;
    font-family: monospace;
    font-weight: bold;
    opacity: 0.4;
}
.hometext:hover {
    font-size: 120px;
    cursor: grab;
    transition: 0.3s;
}

.hometext:not(hover) {
    transition: 0.5s;
}

.projectlist{
    height: 500px;
    background-color: #893dc2;
}


.about{
    margin: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}


.projectlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 40px;
}

.titleOfList{
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px 10px black;

}

.listofprojectbtn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}


.Prjlist{
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #893dc2;
    color: white;

    -webkit-box-shadow: -15px -10px 50px -12px rgba(225, 225, 225, 0.75), 15px 10px 50px -10px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -15px -10px 50px -12px rgba(225, 225, 225, 0.75), 15px 10px 50px -10px rgba(0, 0, 0, 0.75);
        box-shadow: -15px -10px 50px -12px rgba(225, 225, 225, 0.75), 15px 10px 50px -10px rgba(0, 0, 0, 0.75);
}

.Prjlist:hover{
    transition: 0.4s;
    color: rgb(44, 44, 44);
}

.Prjlist:not(hover) {
    transition: 0.5s;
}

.Prjlist:active {
    -webkit-box-shadow: inset 15px 10px 50px -20px rgba(0, 0, 0, 0.50), -15px -10px 50px -12px rgba(225, 225, 225, 0.50);
    -moz-box-shadow: inset 15px 10px 50px -20px rgba(0, 0, 0, 0.50), -15px -10px 50px -12px rgba(225, 225, 225, 0.50);
    box-shadow: inset 15px 10px 50px -20px rgba(0, 0, 0, 0.50), -15px -10px 50px -12px rgba(225, 225, 225, 0.50);
}

.team{
    margin-left: 250px;
    text-decoration: underline;
    font-size: 50px;
    font-weight: bold;
    font-family: "Montserrat",sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 10px black;


}

.profile1,.profile2,.profile3{
    width: 480px;
    height: 640px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(140deg,rgb(136, 139, 238),rgb(220, 135, 135),rgb(132, 100, 229));
}
.profile1{
    border-radius: 30px 0 0 30px;
}
.profile2 {
    border-radius: 0 0 30px 30px;
}
.profile3 {
    border-radius: 0 30px 30px 0;
}

.profiledp{
    width: 187.5px;
    height: 250px;
    border-radius: 50%;
    margin-top: 20px;
    cursor: grab;
    
}

.profiledp:hover
{
    transition: 0.2s;
        width: 450px;
        height: 600px;

    border-radius: 10px;
    
}

.profiledp:not(hover) {
    transition: 0.5s;
}

.name{
    margin-top: 30px;
    font-size: larger;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.personaldetails{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: lightyellow;
}

.personalSocialMedia{
    margin-top: 40px;
    display: flex;
    gap: 30px;
    font-size: 30px;
}

#mailto{
    color: #511381;
}

#github{
    color: white;
}

#github:hover {
    transition: 0.1s;
    background-color: black;
    padding: 9px;
    border-radius: 12px;
    color: white;
}

#facebook:hover {
    transition: 0.1s;
    background-color: blue;
    padding:9px;
    border-radius: 6px;
    color: white;
}

#mailto:hover {
    transition: 0.1s;
    background-color: white;
    padding: 9px;
    border-radius: 6px;
    color: blue;
}

#twitter:hover {
    transition: 0.1s;
    color: rgb(56, 56, 255);
    background-color: white;
    padding: 9px;
    border-radius: 6px;
}

#whatsapp:hover {
    transition: 0.1s;
    background-color: rgb(5, 188, 72);
    padding: 9px;
    border-radius: 6px;
    color: white;
}
#instagram:hover {
    transition: 0.1s;
    padding: 9px;
    border-radius: 6px;
    color: white;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

#linkedin:hover{
    transition: 0.1s;
    background-color: rgb(54, 54, 232);
    padding: 9px;
    border-radius: 6px;
    color: white;
}

#facebook:not(hover),
    #mailto:not(hover),
        #whatsapp:not(hover),
            #instagram:not(hover),
                #linkedin:not(hover),
                    #twitter:not(hover),
                    #github:not(hover)
            {
                transition: 0.4s;
                color: white;
            }



.contact{
    margin-top: 100px;
    height: 350px;
    background-color: rgb(96, 3, 96);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.getintouchtext
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 70px 40px 70px ;
}
.getintouchwithus{
    color: white;
    text-shadow: 2px 2px 10px black;
}

.waytocontact{
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 5px 1fr;
    gap: 150px;
}

/* .contactbtn{

    padding: 20px 16px 16px 16px;
    background-color: rgb(96, 3, 96);
    border-radius: 15px;
    -webkit-box-shadow: -15px -10px 50px -12px rgba(225, 225, 225, 0.75),15px 10px 50px -10px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -15px -10px 50px -12px rgba(225, 225, 225, 0.75),15px 10px 50px -10px rgba(0, 0, 0, 0.75);
        box-shadow: -15px -10px 50px -12px rgba(225, 225, 225, 0.75),15px 10px 50px -10px rgba(0, 0, 0, 0.75);
    cursor: pointer;


}
.contactbtn:active{
    -webkit-box-shadow:inset 15px 10px 50px -20px rgba(0, 0, 0, 0.50),-15px -10px 50px -12px rgba(225, 225, 225, 0.50);
        -moz-box-shadow:inset 15px 10px 50px -20px rgba(0, 0, 0, 0.50),-15px -10px 50px -12px rgba(225, 225, 225, 0.50);
        box-shadow:inset 15px 10px 50px -20px rgba(0, 0, 0, 0.50),-15px -10px 50px -12px rgba(225, 225, 225, 0.50);
}

 */

 #anchor1{
    width: 100%;
    height: 100px;
 }

 .totop{
    width: 100%;
    height: 80px;
    font-size: 25px;
    background-color: rgb(96, 3, 96);
    border: none;
    color: white;
    box-shadow: 3px 3px 9px black;
 }

 .totop:active {
     opacity: 0.6;
 }


.contactPhone{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

.contactEmail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    margin: 20px;
}

#phone,#email{
    font-size: 30px;
    color: white;

}



.vl{
    border-left: 3px groove rgb(74, 66, 66);
    height: 300px;
    box-shadow: 2px 0px 20px black;
}

.contacttext{

    font-size: 20px;
    color: white;
}


.thanks{
        margin: 30px 0 10px 0;
        color: white;
        font-family: arial;
        font-size: 20px;
        font-weight: bold;
    }

.codexp{

    margin: 30px 0 10px 0;
    color: white;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
}

.thanks,.codexp{
    text-shadow: 2px 2px 10px black;
}

.codexplogo{
    margin-top: 20px;
    width: 70px; 
}